<%- include('../../fragments/header.ejs) %>

<h2>Edycja Zatrudnienia</h2>
<form class="form" action="./listOfEmployed.ejs">
  <label for="firstName">Imię:<span id="errorFirstName"> *</span></label>
  <input
    input=" text"
    name=" firstName"
    id=" firstName"
    value=" Jan"
    required
  />
  <label for="lastName">Nazwisko: <span id="errorLastName"> *</span></label>

  <input
    input=" text"
    name=" lastName"
    id=" lastName"
    value=" Pawlowicz"
    required
  />
  <label for="email">E-mail: <span id="errorEmail"> *</span></label>
  <input
    input=" email"
    name=" email"
    id=" email"
    value=" jan.pawlowicz@mail.com"
    required
  />
  <label for="departament">Departament: <span id="errorDepartment"> *</span></label>
  <input
    input=" departament"
    name=" departament"
    id=" department"
    value=" Liryka"
    required
  />

    <input class="button" type="submit" value="Zatwierdź" href="/employments"></input>
    <a class="button" href="/employments">Anuluj</a>
</form>
<h2>Detali Zatrudnienia</h2>
<table class="table-list">
  <thead>
    <tr>
      <th>Departament</th>
      <th>Pensja</th>
      <th>Data Od</th>
      <th>Data Do</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Epika</td>
      <td>2000</td>
      <td>24.09.2016</td>
      <td>30.12.2016</td>
    </tr>
    <tr>
      <td>Liryka</td>
      <td>2500</td>
      <td>01.01.2017</td>
      <td></td>
    </tr>
  </tbody>
</table>

<%- include('../../fragments/footer.ejs') %>