<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Biblioteka BP</title>
    <link rel="shortcut icon" href="../../Images/jogo2.png"/>
    <link rel="stylesheet" href="../../css/form.css"/>
    <link
            href="https://fonts.googleapis.com/css?family=Montserrat"
            rel="stylesheet"
    />
</head>
<body>
<header>
    <div class="main-header">
        <img src="../../Images/jogo2.png" alt="Bibliotekas logo" class="logo"/>
        <h1>Nowa Biblioteka</h1>
    </div>
</header>


<div class="main-image">
    <img src="../../Images/books.jpeg" alt="bookcase full of books"/>
</div>


<nav class="navbar">
    <ul>
        <li><a href="/changeLang/en" >EN</a></li>
        <li><a href="/changeLang/pl" >PL</a></li>
    </ul>
    <ul>
        <li><a href="/"><%=__('nav.main-page')%></a></li>
        <li>
            <a href="/employees"><%=__('nav.employees')%></a>
        </li>
        <li><a href="/departments"><%=__('nav.departments')%></a></li>
        <li><a href="/employments"><%=__('nav.employments')%></a></li>
    </ul>
</nav>

<main class="main">